* {
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 243, 240);
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/536/593/non_2x/blue-grid-paper-pattern-background-vector-illustration.jpg");
    font-family: 'Nanum Myeongjo';
}

.navigation ul {
    width: 1900px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:hsla(351, 100%, 86%, 30%);
}

.navigation li {
    display:inline-block;
    color: lightslategray;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10px;
}

.navigation  li.logo {
    color: black;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
  }

#banner {
    background-color: hsla(351, 100%, 86%, 30%);
    background-size: cover;
    background-position: bottom center;
    height: 150px;
    width: 1900px;
  }

#banner .content h1 {
    position: relative;
    top: 30px;
    width: 18%;
    margin: 0 auto;
    font-family:'Franklin Gothic Medium';
    font-size: 100px;
    text-align:center;
    letter-spacing: 0.1em;
  }

#main {
    margin: 0 auto;
    padding: 40px;
    text-align: left;
    width: 935px;
    height: 700px;
  }

.opening p{
    text-align: center;
    font-family: 'Nanum Myeongjo';
    font-size: 600;
    font-weight:500;
    color: rgb(3, 3, 3);
}

.opening h6 {
    font-family: 'Nanum Myeongjo';
    font-weight: 300;
    color: rgb(65, 60, 65);
}

iframe {
    align-self: center;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 7px;
    margin-bottom: 10px;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-family: 'Nanum Gothic';
    font-weight: 600;
    color: rgb(2, 2, 2);
    line-height: 30px;
    text-align: center;
}

h5 {
    font-family: 'Nanum Gothic';
    font-size: 15px;
    font-weight: 600;
    color: rgb(2, 2, 2);
    line-height: 30px;
    text-align: center;
}

.SNS a{
    font-family:"Nanum Myeongjo";
}

h6 {
    font-family: 'Nanum Gothic';
    font-weight: 400;
    color: rgb(2, 2, 2);
    line-height: 30px;
    text-align: center;
}

h1 {
    color: rgb(21, 105, 84);
    font-size: 42px;
    font-weight: 600;
    text-align: right;
  }

h2 {
    border: 1px dotted green;
    color: rgb(32, 4, 190);
    font-size: 30px;
    font-weight:bold;
    line-height: 48px;
    padding: 10px 20px;
    margin: 10px 20px;
    text-align: center;
  }

h3 {
    color: rgb(13, 12, 73);
    font-size: 35px;
    font-weight: 700;
    padding: 0;
    text-align: center;
  }
  
  p {
    color: grey;
    font-size: 16px;
    line-height: 48px;
    margin-top: 10px;
    padding: 0px 20px;
  }
  

  
.readall {
    text-align: center;
    font-weight: 600;
}

.photo {
    text-align: center;
    font-weight: 600;
}